<div id="animation_content">
    <h5 class="card-title placeholder-glow">
        <span class="placeholder ms-3 col-10"></span>
        <span class="placeholder ms-3 col-6"></span>
        <span class="placeholder ms-3 col-8"></span>
    </h5>
    <h5 class="card-title placeholder-glow">
        <span class="placeholder ms-3 col-10"></span>
        <span class="placeholder ms-3 col-6"></span>
        <span class="placeholder ms-3 col-8"></span>
    </h5>
    <h5 class="card-title placeholder-glow">
        <span class="placeholder ms-3 col-10"></span>
        <span class="placeholder ms-3 col-6"></span>
        <span class="placeholder ms-3 col-8"></span>
    </h5>
    <h5 class="card-title placeholder-glow">
        <span class="placeholder ms-3 col-10"></span>
        <span class="placeholder ms-3 col-6"></span>
        <span class="placeholder ms-3 col-8"></span>
    </h5>
    <h5 class="card-title placeholder-glow">
        <span class="placeholder ms-3 col-10"></span>
        <span class="placeholder ms-3 col-6"></span>
        <span class="placeholder ms-3 col-8"></span>
    </h5>
    <h5 class="card-title placeholder-glow">
        <span class="placeholder ms-3 col-10"></span>
        <span class="placeholder ms-3 col-6"></span>
        <span class="placeholder ms-3 col-8"></span>
    </h5>
    <h5 class="card-title placeholder-glow">
        <span class="placeholder ms-3 col-10"></span>
        <span class="placeholder ms-3 col-6"></span>
        <span class="placeholder ms-3 col-8"></span>
    </h5>
    <h5 class="card-title placeholder-glow">
        <span class="placeholder ms-3 col-10"></span>
        <span class="placeholder ms-3 col-6"></span>
        <span class="placeholder ms-3 col-8"></span>
    </h5>
    <h5 class="card-title placeholder-glow">
        <span class="placeholder ms-3 col-10"></span>
        <span class="placeholder ms-3 col-6"></span>
        <span class="placeholder ms-3 col-8"></span>
    </h5>
</div>